



// app/page.scss

@import '../styles/abstract/variables'; 

// Set the body's background and default text color based on the palette
.home {
    height: 100vh;
    background: linear-gradient(
      135deg,
      #e8efff 10%,   /* stronger light blue */
      #f6f8ff 60%, /* soft transition */
      #ffffff 100% /* clean white bottom */
    );
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-body);
    color: var(--text-body); // Deep Navy is the default text color
    background-image: url(../public/img/konowabg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .nav a {
        // Style for the main navigation links
        color: white; // Deep Navy
        font-weight: 500;
        transition: color 0.2s ease;

        &:hover {
            opacity: 0.8; // Bright Green on hover
        }
    }

    .site-title {
        // Apply the bright green to the tagline for maximum impact
        color: var(--text-accent); 
        letter-spacing: 0.1em;
    }

    .location-phone {
        // Style the phone number links
        color: var(--text-white); // Deep Navy
        transition: color 0.2s ease;
        
        &:hover {
            opacity: 0.8; // Bright Green on hover
        }
    }
    .site-title {
        color: white;
    }
}