@import 'abstract/variables';
@import 'abstract/mixins';
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1D2650;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  &:hover {
    
  }
}

nav {
  a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.5s ease-in-out;

    &.active {
      font-weight: 700;
    }

    &:visited {
      color: white;
    }

    &:hover {
      transform: translateY(-2px);
    }
  }
}