@import 'abstract/variables';
@import 'abstract/mixins';
@import "tailwindcss";
/* Import DM Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #1D2650;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400; /* normal */
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700; /* headings bold */
}